mixin headerNav(arg)
	ul 
		each item in arg 
			li 
				a(href=""+item.link) #{item.text}
mixin list-icon(arg) 
	ul 
		each item in arg
			li.list-item 
				.list-item__icon
					+#{item.mix}
				.list-item__text
					p #{item.text1}
					p #{item.text2}

mixin benefitCrad(mix, text1, text2) 
	.benefits-card 
		.benefits-card__icon 
			+#{mix}
		h4.title-4 #{text1}
		.text-block #{text2}
mixin pr1
	<svg width="30" height="40" viewBox="0 0 30 40" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M12.0318 16.6171L11.2832 18.2492H12.7804L12.0318 16.6171Z" fill="white"/>
		<path d="M8.32407 7.70899V1.0376L1.65268 7.70899H8.32407Z" fill="white"/>
		<path d="M28.6454 0.354126H10.6582V8.87621C10.6582 9.52083 10.1358 10.0433 9.49114 10.0433H0.96875V38.8169C0.96875 39.4615 1.49121 39.984 2.13583 39.984H28.6454C29.29 39.984 29.8125 39.4615 29.8125 38.8169V1.5212C29.8125 0.87659 29.29 0.354126 28.6454 0.354126ZM18.8015 17.0173C18.1568 17.0173 17.6344 16.4949 17.6344 15.8503C17.6344 15.2059 18.1568 14.6832 18.8015 14.6832H19.6248V13.8599C19.6248 13.2153 20.1472 12.6928 20.7918 12.6928C21.4364 12.6928 21.9589 13.2153 21.9589 13.8599V14.6832H22.7822C23.4268 14.6832 23.9493 15.2059 23.9493 15.8503C23.9493 16.4949 23.4268 17.0173 22.7822 17.0173H21.9589V17.8409C21.9589 18.4853 21.4364 19.008 20.7918 19.008C20.1472 19.008 19.6248 18.4853 19.6248 17.8409V17.0173H18.8015ZM6.93808 22.1228L10.9708 13.3317L10.9718 13.332C11.0842 13.0868 11.2808 12.8787 11.545 12.7575C12.131 12.4887 12.8237 12.7457 13.0924 13.3317L17.1252 22.1228C17.394 22.7088 17.137 23.4015 16.5511 23.6703C16.3935 23.7425 16.2281 23.7767 16.0652 23.7767C15.6231 23.7767 15.2001 23.5242 15.0036 23.0961L13.8514 20.5836H10.2122L9.05968 23.0961C8.86346 23.5242 8.44047 23.7767 7.99813 23.7767C7.83546 23.7767 7.67007 23.7425 7.51225 23.6703C6.92629 23.4015 6.66929 22.7088 6.93808 22.1228ZM7.99903 26.0933H22.7822C23.4268 26.0933 23.9493 26.6158 23.9493 27.2604C23.9493 27.905 23.4268 28.4275 22.7822 28.4275H7.99903C7.35442 28.4275 6.83195 27.905 6.83195 27.2604C6.83195 26.6158 7.35442 26.0933 7.99903 26.0933ZM7.99903 29.655H17.7478C18.3921 29.655 18.9148 30.1775 18.9148 30.8221C18.9148 31.4667 18.3921 31.9892 17.7478 31.9892H7.99903C7.35442 31.9892 6.83195 31.4667 6.83195 30.8221C6.83195 30.1775 7.35442 29.655 7.99903 29.655Z" fill="white"/>
		</svg>


mixin ben1 
	<svg width="68" height="74" viewBox="0 0 68 74" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M67.8333 36.9999C67.8333 48.0506 58.8423 57.0416 47.7917 57.0416C36.741 57.0416 27.75 48.0506 27.75 36.9999C27.75 25.9492 36.741 16.9583 47.7917 16.9583C58.8423 16.9583 67.8333 25.9492 67.8333 36.9999ZM46.25 33.4202C46.25 32.674 46.7248 32.156 47.1503 32.156H51.6458C52.9223 32.156 53.9583 31.12 53.9583 29.8435C53.9583 28.567 52.9223 27.531 51.6458 27.531H50.1041V26.9791C50.1041 25.7026 49.0681 24.6666 47.7917 24.6666C46.5152 24.6666 45.4792 25.7026 45.4792 26.9791V27.8362C43.253 28.5947 41.625 30.7962 41.625 33.4202C41.625 36.67 44.104 39.3124 47.1503 39.3124H48.4361C48.8616 39.3124 49.3364 39.8335 49.3364 40.5797C49.3364 41.3258 48.8616 41.8438 48.4361 41.8438H43.9375C42.661 41.8438 41.625 42.8798 41.625 44.1563C41.625 45.4328 42.661 46.4688 43.9375 46.4688H45.4792V47.0207C45.4792 48.2972 46.5152 49.3332 47.7917 49.3332C49.0681 49.3332 50.1041 48.2972 50.1041 47.0207V46.1636C52.3303 45.4051 53.9583 43.2036 53.9583 40.5797C53.9583 37.3298 51.4793 34.6874 48.433 34.6874H47.1472C46.7248 34.6874 46.25 34.1663 46.25 33.4202Z" fill="#2E7FFF"/>
		<path d="M43.1666 11.2233V9.25C43.1666 7.55416 41.7791 6.16666 40.0833 6.16666H38.5416C36.8458 6.16666 35.4583 7.55416 35.4583 9.25C35.4583 10.9458 34.0708 12.3333 32.375 12.3333H16.9583C15.2625 12.3333 13.875 10.9458 13.875 9.25C13.875 7.55416 12.4875 6.16666 10.7917 6.16666H9.24999C7.55416 6.16666 6.16666 7.55416 6.16666 9.25V64.75C6.16666 66.4458 7.55416 67.8333 9.24999 67.8333H40.0833C41.7791 67.8333 43.1666 66.4458 43.1666 64.75V62.8075C44.6775 63.0541 46.2191 63.2083 47.7916 63.2083C48.3158 63.2083 48.8091 63.2083 49.3333 63.1775V64.75C49.3333 69.8375 45.1708 74 40.0833 74H9.24999C4.1625 74 0 69.8375 0 64.75V9.25C0 4.1625 4.1625 0 9.24999 0H40.0833C45.1708 0 49.3333 4.1625 49.3333 9.25V10.8225C48.8091 10.7917 48.3158 10.7917 47.7916 10.7917C46.2191 10.7917 44.6775 10.9458 43.1666 11.2233Z" fill="#2E7FFF"/>
		</svg>